<footer class="footer-fixed bg-dark text-white py-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 text-start">
                &copy; Derechos de Autor {{ "now"|date:"Y" }}
            </div>
            <div class="col-md-4 text-center">
                Fecha del Sistema: {{ "now"|date:"d/m/Y H:i" }}
            </div>
            <div class="col-md-4 text-end">
                Creado por **Aaron Mulato, CBTis 128**
            </div>
        </div>
    </div>
</footer>